apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: ingress
data:
  config.yml: |
    tunnel: cb2a7768-4162-4da9-ac04-138fdecf3e3d
    credentials-file: /etc/cloudflared/credentials.json
    ingress:
      # Mirai SaaS Application
      - hostname: mirai.sogos.io
        service: http://mirai-frontend.mirai.svc.cluster.local:80
      - hostname: get-mirai.sogos.io
        service: http://mirai-frontend.mirai.svc.cluster.local:80
      # Ory Kratos Authentication
      - hostname: auth.sogos.io
        service: http://kratos-public.kratos.svc.cluster.local:80
      # MailHog Email Testing (dev only)
      - hostname: mailhog.sogos.io
        service: http://mailhog.mailhog.svc.cluster.local:8025
      # Other services
      - hostname: argocd.sogos.io
        service: http://argocd-server.argocd.svc.cluster.local:80
      - hostname: grafana.sogos.io
        service: http://grafana.monitoring.svc.cluster.local:3000
      - hostname: hello.sogos.io
        service: http://hello-world.static-sites.svc.cluster.local:80
      - hostname: solutions.sogos.io
        service: http://solutions.static-sites.svc.cluster.local:80
      - hostname: product.sogos.io
        service: http://product.static-sites.svc.cluster.local:80
      - service: http_status:404